<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Stvrzenky</title>
	<style>
		html, body {
			font-family: Tahoma, sans-serif;
			font-size: 9pt;
			margin: 0;
			padding: 0;
		}
	</style>
	</head>
	<body>
	
	{block #content}
		
	</body>
</html>