<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Přihlášení</title>
	<style>
		html, body {
			font-family: Tahoma, sans-serif;
			font-size: 14px;
			line-height: 130%;
			padding: 0;
			margin: 0;
			background-color: #333;
		}
		
		.login {
			margin-top: 50px;
		}
		
		.login table {
			margin: auto;
			border-radius: 10px;
			background-color: #EEE;
			padding: 10px;
			border: 2px solid #666;
		}
		
		.label {
			font-weight: bold;
		}
		
		.center {
			text-align: center;
		}
	</style>
	</head>
	<body>
	
	{block #content}
		
	</body>
</html>